<div class="container-fluid service py-5 bg-light">
	<div class="container py-5">
		<div class="text-center mx-auto pb-5" style="max-width: 800px;">
			<h5 class="text-uppercase text-primary">КАКВО ПРАВИМ</h5>
			<h1 class="mb-0">Действаме заедно, за да променим света</h1>
		</div>
		<div class="row g-4">
			<div class="col-md-6 col-lg-6 col-xl-3">
				<div class="service-item">
					<img src="img/service-1.jpg" class="img-fluid w-100" alt="Image">
					<div class="service-link">
						<a class="h4 mb-0">Събираме средства за значими каузи</a>
					</div>
				</div>
				<p class="my-4">
					Чрез дарения помагаме на общности в нужда, създаваме условия за по-добра среда и подкрепяме реални
					проекти.
				</p>
			</div>
			<div class="col-md-6 col-lg-6 col-xl-3">
				<div class="service-item">
					<img src="img/service-2.jpg" class="img-fluid w-100" alt="Image">
					<div class="service-link">
						<a class="h4 mb-0">Организираме кампании за почистване и опазване</a>
					</div>
				</div>
				<p class="my-4">
					Работим с местни доброволци и организации, за да премахнем замърсяването и върнем природата към
					живот.
				</p>
			</div>
			<div class="col-md-6 col-lg-6 col-xl-3">
				<div class="service-item">
					<img src="img/service-3.jpg" class="img-fluid w-100" alt="Image">
					<div class="service-link">
						<a class="h4 mb-0">Подкрепяме социални и екологични инициативи</a>
					</div>
				</div>
				<p class="my-4">
					Помагаме на хора в неравностойно положение и се борим за устойчиви промени в обществото чрез
					съвместни действия.
				</p>
			</div>
			<div class="col-md-6 col-lg-6 col-xl-3">
				<div class="service-item">
					<img src="img/service-4.jpg" class="img-fluid w-100" alt="Image">
					<div class="service-link">
						<a class="h4 mb-0">Защитаваме природата и биоразнообразието</a>
					</div>
				</div>
				<p class="my-4">
					Грижим се за животински хабитати, създаваме зелени пространства и насърчаваме отговорно поведение
					към околната среда.
				</p>
			</div>
		</div>
	</div>
</div>