<div class="container-fluid about  py-5">
	<div class="container py-5">
		<div class="row g-5">
			<div class="col-xl-5">
				<div class="h-100">
					<img src="/img/about-1.jpg" class="img-fluid w-100 h-100" alt="Image">
				</div>
			</div>
			<div class="col-xl-7">
				<h5 class="text-uppercase text-primary">ЗА НАС</h5>
				<h1 class="mb-4">Нашата цел е да вдъхновим хората да помагат</h1>
				<p class="fs-5 mb-4">
					Ние вярваме, че всяко добро дело има значение.
					Платформата ни свързва доброволци, дарители и каузи, които правят света по-добро място. Независимо
					дали искаш да помогнеш с време, енергия или средства – тук ще откриеш начин да го направиш с лекота
					и смисъл.
				</p>
				<div class="tab-class bg-secondary p-4">
					<ul class="nav d-flex mb-2">
						<li class="nav-item mb-3">
							<a class="d-flex py-2 text-center bg-white active" data-bs-toggle="pill" href="#tab-1">
								<span class="text-dark" style="width: 150px;">За нас</span>
							</a>
						</li>
						<li class="nav-item mb-3">
							<a class="d-flex py-2 mx-3 text-center bg-white" data-bs-toggle="pill" href="#tab-2">
								<span class="text-dark" style="width: 150px;">Мисия</span>
							</a>
						</li>
						<li class="nav-item mb-3">
							<a class="d-flex py-2 text-center bg-white" data-bs-toggle="pill" href="#tab-3">
								<span class="text-dark" style="width: 150px;">Визия</span>
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="tab-1" class="tab-pane fade show p-0 active">
							<div class="row">
								<div class="col-12">
									<div class="d-flex">
										<div class="text-start my-auto">
											<h5 class="text-uppercase mb-3">Ние вярваме, че промяната започва от
												обикновените хора.</h5>
											<p class="mb-4">
												Създадохме тази платформа, за да свържем сърцати хора с реални каузи. От
												почистване на обществени пространства до помощ на възрастни хора и
												организиране на дарителски кампании – тук всеки може да допринесе.
												Заедно създаваме по-чиста, по-грижовна и по-справедлива среда за всички.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-2" class="tab-pane fade show p-0">
							<div class="row">
								<div class="col-12">
									<div class="d-flex">
										<div class="text-start my-auto">
											<h5 class="text-uppercase mb-3">Нашата мисия е да създадем активна общност,
												която действа в името на доброто.</h5>
											<p class="mb-4">
												Стремим се да вдъхновим хората да участват в доброволчески инициативи,
												да подкрепят значими каузи и да направят реална промяна в обществото.
												Действията ни са насочени към устойчивост, солидарност и човечност.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-3" class="tab-pane fade show p-0">
							<div class="row">
								<div class="col-12">
									<div class="d-flex">
										<div class="text-start my-auto">
											<h5 class="text-uppercase mb-3">Представяме си свят, в който всеки човек има
												възможност да помага и да бъде част от нещо по-голямо.</h5>
											<p class="mb-4">
												Вярваме в силата на общността, в малките стъпки, които водят до големи
												резултати, и в бъдеще, в което доброто е заразително. Нашата визия е
												платформа, която вдъхновява и обединява хора в името на по-доброто утре.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>