<div class="container-fluid volunteer py-5 mt-5">
	<div class="container py-5">
		<div class="row g-5">
			<div class="col-lg-5">
				<div class="row g-4">
					<div class="col-lg-6">
						<div class="volunteer-img">
							<img src="img/volunteers-4.jpg" class="img-fluid w-100" alt="Image">
							<div class="volunteer-title">
								<h5 class="mb-2 text-white">Светлин Софрониев</h5>
								<p class="mb-0 text-white">Лидер на екип на терен</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<h5 class="text-uppercase text-primary">СТАНИ ДОБРОВОЛЕЦ</h5>
				<h1 class="mb-4">Дари време. Промени живот. Остави следа.</h1>
				<p class="mb-4">
					Бъди част от екип, който действа. Нашите доброволци участват в реални инициативи, помагат на хора в
					нужда, опазват природата и създават промяна – с усмивка, енергия и сърце. Няма нужда от предишен
					опит – нужно е само желание.
				</p>
				<p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> Подкрепяме се и работим в екип
				</p>
				<p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> Безплатни обучения за всички доброволци
					you free training.</p>
				<p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> Реални каузи, в които ще участваш активно
					Environments.</p>
				<p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> Няма минимални изисквания – само воля</p>
				<p class="text-dark mb-5"><i class=" fa fa-check text-primary me-2"></i> Доброволчеството е напълно безплатно</p>
				<a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#">Регистрирайте се</a>
			</div>
		</div>
	</div>
</div>