<div class="container-fluid volunteer py-5 mt-5">
	<div class="container py-5">
		<div class="row g-5">
			<div class="col-lg-7">
				<h5 class="text-uppercase text-primary">СТАНИ ДОБРОВОЛЕЦ</h5>
				<h1 class="mb-4">Промяната започва с теб. Не е нужно да си герой, за да направиш нещо значимо.</h1>
				<p class="mb-4">
					Включи се в мрежа от съпричастни хора, които правят добро – не за показ, а от сърце. Нашите
					доброволци са навсякъде – по паркове, училища, центрове за помощ. Ако търсиш смисъл, принадлежност и
					начин да допринесеш, тук ще го откриеш. Няма нужда от опит – само от отворено сърце.
				</p>
				<p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> Работиш рамо до рамо с хора със
					сходни ценности
				</p>
				<p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> Участваш в инициативи, които
					променят реални животи</p>
				<p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> Получаваш подкрепа, знания и полезен
					опит</p>
				<p class="text-dark"><i class=" fa fa-check text-primary me-2"></i> Избираш сам кога, как и с какво да
					се включиш</p>
				<p class="text-dark mb-5"><i class=" fa fa-check text-primary me-2"></i> Даваш част от времето си, но
					получаваш много повече</p>
				<a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#">Регистрирайте се</a>
			</div>
		</div>
	</div>
</div>