<div class="userprofile_card">
	<h3 class="userprofile_card_title">
		<i class="fas fa-calendar-alt"></i> Записани събития
	</h3>
	<table class="userprofile_table">
		<thead>
			<tr>
				<th>Събитие</th>
				<th>Дата</th>
				<th>Статус</th>
				<th>Действие</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Почистване на парк Борисова градина</td>
				<td>30.04.2023</td>
				<td><span class="userprofile_badge userprofile_badge_upcoming">Предстои</span></td>
				<td>
					<button class="userprofile_btn userprofile_btn_danger userprofile_btn_sm">
						<i class="fas fa-times"></i> Откажи участие
					</button>
				</td>
			</tr>
			<tr>
				<td>Залесяване в Родопите</td>
				<td>15.05.2023</td>
				<td><span class="userprofile_badge userprofile_badge_upcoming">Предстои</span></td>
				<td>
					<button class="userprofile_btn userprofile_btn_danger userprofile_btn_sm">
						<i class="fas fa-times"></i> Откажи участие
					</button>
				</td>
			</tr>
			<tr>
				<td>Почистване на плаж Крапец</td>
				<td>10.03.2023</td>
				<td><span class="userprofile_badge userprofile_badge_past">Минало</span></td>
				<td>
					<button class="userprofile_btn userprofile_btn_secondary userprofile_btn_sm">
						<i class="fas fa-eye"></i> Виж детайли
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>