<div class="container-fluid service py-5 bg-light">
	<div class="container py-5">
		<div class="text-center mx-auto pb-5" style="max-width: 800px;">
			<h5 class="text-uppercase text-primary">КАКВО ПРЕДЛАГАМЕ</h5>
			<h1 class="mb-0">Услуги, които правят доброто възможно</h1>
		</div>
		<div class="row g-4">
			<div class="col-md-6 col-lg-6 col-xl-3">
				<div class="service-item">
					<img src="img/service-1.jpg" class="img-fluid w-100" alt="Image">
					<div class="service-link">
						<a class="h4 mb-0">1. Свързваме доброволци с каузи</a>
					</div>
				</div>
				<p class="my-4">
					Предоставяме платформа, чрез която хората могат лесно да открият смислени инициативи близо до тях и
					да се включат – без излишна бюрокрация.
				</p>
			</div>
			<div class="col-md-6 col-lg-6 col-xl-3">
				<div class="service-item">
					<img src="img/service-2.jpg" class="img-fluid w-100" alt="Image">
					<div class="service-link">
						<a class="h4 mb-0">2. Организираме събития и логистика</a>
					</div>
				</div>
				<p class="my-4">
					Съдействаме при планиране, комуникация и провеждане на доброволчески акции – от почистване до
					социална подкрепа. Ние сме гръбнакът зад каузата.
				</p>
			</div>
			<div class="col-md-6 col-lg-6 col-xl-3">
				<div class="service-item">
					<img src="img/service-3.jpg" class="img-fluid w-100" alt="Image">
					<div class="service-link">
						<a class="h4 mb-0">3. Обучаваме и подготвяме участници</a>
					</div>
				</div>
				<p class="my-4">
					Осигуряваме въвеждащи обучения, насоки и материали за всеки, който иска да се включи, дори и без
					предишен опит. Подкрепяме те на всяка крачка.
				</p>
			</div>
			<div class="col-md-6 col-lg-6 col-xl-3">
				<div class="service-item">
					<img src="img/service-4.jpg" class="img-fluid w-100" alt="Image">
					<div class="service-link">
						<a class="h4 mb-0">4. Създаваме партньорства с организации</a>
					</div>
				</div>
				<p class="my-4">
					Работим с училища, общини, НПО и местни бизнеси, за да обединяваме усилия в името на устойчиво
					въздействие и мащабна промяна.
				</p>
			</div>
		</div>
	</div>
</div>