<div class="shareform_body">
	<div class="shareform_container">
		<div class="shareform_header">
			<h1 class="shareform_title">Споделяне</h1>
			<p class="shareform_subtitle">Помогнете за по-добър свят като споделите събитие или кауза</p>
		</div>

		<div class="shareform_card">
			<div class="shareform_tabs">
				<div class="shareform_tab shareform_tab_active" id="shareform_event_tab">Събитие</div>
				<div class="shareform_tab" id="shareform_donation_tab">Кауза за дарение</div>
			</div>
			<app-share-event />
			<app-share-cause />
		</div>
	</div>
</div>