<div class="container-fluid about  py-5">
	<div class="container py-5">
		<div class="row g-5">
			<div class="col-xl-5">
				<div class="h-100">
					<img src="/img/charity.webp" class="img-fluid w-100" alt="Image">
				</div>
			</div>
			<div class="col-xl-7">
				<h5 class="text-uppercase text-primary">ЗА НАС</h5>
				<h1 class="mb-4">Ние не просто помагаме – ние свързваме доброто с действие.</h1>
				<p class="fs-5 mb-4">
					Вярваме в силата на обикновените хора да променят света. Платформата ни е мост между желанието да
					помогнеш и възможността да го направиш – независимо дали имаш време, средства или идеи.
				</p>
				<div class="tab-class bg-secondary p-4">
					<ul class="nav d-flex mb-2">
						<li class="nav-item mb-3">
							<a class="d-flex py-2 text-center bg-white active" data-bs-toggle="pill" href="#tab-1">
								<span class="text-dark" style="width: 150px;">Общност</span>
							</a>
						</li>
						<li class="nav-item mb-3">
							<a class="d-flex py-2 mx-3 text-center bg-white" data-bs-toggle="pill" href="#tab-2">
								<span class="text-dark" style="width: 150px;">Вдъхновение</span>
							</a>
						</li>
						<li class="nav-item mb-3">
							<a class="d-flex py-2 text-center bg-white" data-bs-toggle="pill" href="#tab-3">
								<span class="text-dark" style="width: 150px;">Действие</span>
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="tab-1" class="tab-pane fade show p-0 active">
							<div class="row">
								<div class="col-12">
									<div class="d-flex">
										<div class="text-start my-auto">
											<h5 class="text-uppercase mb-3">Ние вярваме, че промяната започва от
												обикновените хора.</h5>
											<p class="mb-4">
												Изграждаме мрежа от хора, които вярват в доброто. Тук всеки е добре
												дошъл – независимо дали иска да даде време, знания или подкрепа.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-2" class="tab-pane fade show p-0">
							<div class="row">
								<div class="col-12">
									<div class="d-flex">
										<div class="text-start my-auto">
											<h5 class="text-uppercase mb-3">Нашата мисия е да създадем активна общност,
												която действа в името на доброто.</h5>
											<p class="mb-4">
												Ние разказваме истории, които запалват искра. Вярваме, че примерът е
												най-силният двигател на промяната.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-3" class="tab-pane fade show p-0">
							<div class="row">
								<div class="col-12">
									<div class="d-flex">
										<div class="text-start my-auto">
											<h5 class="text-uppercase mb-3">Представяме си свят, в който всеки човек има
												възможност да помага и да бъде част от нещо по-голямо.</h5>
											<p class="mb-4">
												Не чакаме идеалния момент – създаваме го. Включи се в кауза, която те
												вълнува, и бъди част от реалното решение.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>