<div class="container-fluid fixed-top px-0">
	<div class="container px-0">
		<nav class="navbar navbar-light bg-light navbar-expand-xl">
			<a href="index.html" class="navbar-brand ms-3">
				<h1 class="text-primary display-5">Environs</h1>
			</a>
			<button class="navbar-toggler py-2 px-3 me-3" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse">
				<span class="fa fa-bars text-primary"></span>
			</button>
			<div class="collapse navbar-collapse bg-light" id="navbarCollapse">
				<div class="navbar-nav ms-auto">
					<a routerLink="/" class="nav-item nav-link active">Начало</a>
					<a routerLink="/about" class="nav-item nav-link">За нас</a>
					<a routerLink="/services" class="nav-item nav-link">Услуги</a>
					<a routerLink="/causes" class="nav-item nav-link">Каузи</a>
					<a routerLink="/events" class="nav-item nav-link">Събития</a>
					<a href="contact.html" class="nav-item nav-link">Контакти</a>
					<a href="share.html" class="nav-item nav-link">Сподели</a>
					<a href="profile.html" class="nav-item nav-link">Профил</a>
					<a href="./login-register.html" class="nav-item nav-link">Вход</a>
					<a href="contact.html" class="nav-item nav-link">Изход</a>

				</div>
			</div>
		</nav>
	</div>
</div>